@{
    var form = new RefineCMS.Theme.Raymag.Classes.ContactForm(output);

    form.Find("Info.ActionUrl")!.SetValue(output.Url(PropertyGetter.GetValue<string>(page.PostInstance!, "PostName")!));
    form.Find("Info.PageTemplate")!.SetValue(PropertyGetter.GetValue(page.PostInstance!, "PostTemplate")!);

    Func<string, string> errorMessage = (string field) =>
    {
        field = field.Replace(".", "?.");
        return $@"<div style=""position: relative;""><div x-show=""errors?.{field} ?? false"" style=""font-size: 14px; line-height: 150%; color: red; display: none; position: absolute; top: 0px; left: 0px; pointer-events: none;"">{output.Trans("This field is required.")}</div></div>";
    };
}

<form id="frmContact" data-action="@Url.Action("ContactFormSubmit", "Api")" x-data="frmdata" x-on:submit.prevent="dosubmit()" data-formfields="@Html.Raw(Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(form.GetData()))))">
    <div style="display: none;">
        @Html.AntiForgeryToken()
        <textarea name="FormData" x-text="JSON.stringify(formdata)"></textarea>
    </div>

    <p class="text-right text-[16px] leading-175 text-primary-300 mb-7">*為必填欄位</p>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-5">
        <div class="mb-7 form-field">
            <div class="tetx-[16px] leading-175 text-white mb-1">姓名*</div>
            <input type="text" x-model="formdata.Info.FullName" required placeholder="請輸入姓名" class="w-full outline-none rounded-[28px] border border-primary-300 border-opacity-20 px-3 py-[10px] text-[16px] leading-175 h-[48px] text-primary-300 focus:text-white" style="background: #030A11E5; backdrop-filter: blur(20px);">
            @Html.Raw(errorMessage("Info.FullName"))
        </div>

        <div class="mb-7 form-field">
            <div class="tetx-[16px] leading-175 text-white mb-1">電話*</div>
            <input type="text" x-model="formdata.Info.Phone" required placeholder="請輸入電話號碼" class="w-full outline-none rounded-[28px] border border-primary-300 border-opacity-20 px-3 py-[10px] text-[16px] leading-175 h-[48px] text-primary-300 focus:text-white" style="background: #030A11E5; backdrop-filter: blur(20px);">
            @Html.Raw(errorMessage("Info.Phone"))
        </div>
    </div>

    <div class="mb-7 form-field">
        <div class="tetx-[16px] leading-175 text-white mb-1">公司名稱</div>
        <input type="text" x-model="formdata.Info.Company" placeholder="請輸入公司名稱" class="w-full outline-none rounded-[28px] border border-primary-300 border-opacity-20 px-3 py-[10px] text-[16px] leading-175 h-[48px] text-primary-300 focus:text-white" style="background: #030A11E5; backdrop-filter: blur(20px);">
        @Html.Raw(errorMessage("Info.Company"))
    </div>

    <div class="mb-7 form-field">
        <div class="tetx-[16px] leading-175 text-white mb-1">E-mail*</div>
        <input type="email" x-model="formdata.Info.Email" required placeholder="請輸入E-mail" class="w-full outline-none rounded-[28px] border border-primary-300 border-opacity-20 px-3 py-[10px] text-[16px] leading-175 h-[48px] text-primary-300 focus:text-white" style="background: #030A11E5; backdrop-filter: blur(20px);">
        @Html.Raw(errorMessage("Info.Email"))
    </div>

    <div class="mb-7 form-field">
        <div class="tetx-[16px] leading-175 text-white mb-1">訊息*</div>
        <textarea x-model="formdata.Info.Message" required placeholder="請輸入訊息" rows="5" class="w-full outline-none rounded-[28px] border border-primary-300 border-opacity-20 px-3 py-[10px] text-[16px] leading-175 text-primary-300 focus:text-white" style="background: #030A11E5; backdrop-filter: blur(20px);"></textarea>
        @Html.Raw(errorMessage("Info.Message"))
    </div>

    <div x-show="!success">
        <button type="submit" class="rounded-full overflow-hidden gradient-btn-1 cursor-pointer relative block w-full">
            <div class="relative text-[16px] leading-175 font-medium text-white p-[10px] text-center h-[48px]">送出訊息</div>
        </button>
    </div>

    <div x-show="success" style="display: none;">
        <div class="card-1 text-[16px] leading-175 text-white text-center" style="border-radius: 8px !important; padding: 20px 10px;">
            @output.Trans("Thank you for your inquiry. Our representatives will contact you shortly.")
        </div>
    </div>
</form>