<!DOCTYPE html>
<html lang="@ViewData["Lang"]">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"]</title>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <script type="module" crossorigin src="@output.AssetUrl("main.js")"></script>
    <link rel="stylesheet" crossorigin href="@output.AssetUrl("main.css")">
</head>
<body>
    <div id="app" v-cloak>
        @RenderBody()
    </div> <!-- end of #app -->
</body>
</html>